<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006484601184-9g0eptmpoh8l5i5q8gle1b2le015qnli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006484601184-9g0eptmpoh8l5i5q8gle1b2le015qnli</string>
	<key>API_KEY</key>
	<string>AIzaSyCX2HPfqBySrJC3IXB2SnUhzjmo5b4S9vA</string>
	<key>GCM_SENDER_ID</key>
	<string>1006484601184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.solastore</string>
	<key>PROJECT_ID</key>
	<string>solastoremobil-4bc9d</string>
	<key>STORAGE_BUCKET</key>
	<string>solastoremobil-4bc9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006484601184:ios:b411ece763b73957cf0605</string>
</dict>
</plist>